#drink{
    height: 300px;

    background-image: url(https://www.spreadshirt.fr/image-server/v1/mp/designs/16252780,width=178,height=178/biere-dessin-alcool-verre-701.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 2em;

    button{
    	height: 15px;
    }

}

    img{
    	width: 25%;
    }